config/database.php
uploads/products/*
!uploads/products/.gitkeep
uploads/about/*
!uploads/about/.gitkeep
config/storage_manager.php
config/mail.local.php
logs/*
!logs/.gitkeep
config/*
config/contact.php